/* src/components/Navigation.css */

.navbar {
    background-color: #007bff;
    padding: 10px 20px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-item a:hover {
    color: #0056b3;
  }
  